<h3 class="text-primary">{{{viewTitle}}}</h3>
{{#if error}}
  <div class="alert alert-danger">
    {{error}}
  </div>
{{/if}}
<div class="card card-body">
  <form action="/employees/edit/{{id}}" method="POST">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" name="name" value="{{name}}" placeholder="Name" class="form-control">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" name="email" value="{{email}}" placeholder="someone@example.com" class="form-control">
    </div>
    <div class="form-group">
      <label for="job">Job Function</label>
      <input type="text" name="job" value="{{job}}" placeholder="Job Function" class="form-control">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="phone">Phone</label>
        <input type="text" name="phone" value="{{phone}}" placeholder="Phone" class="form-control">
      </div>
      <div class="form-group col-md-6">
        <label for="city">City</label>
        <input type="text" name="city" value="{{city}}" placeholder="City" class="form-control">
      </div>
    </div>
    <button type="submit" class="btn btn-info btn-sm"><i class="fas fa-database fa-lg"></i> Submit</button>
    <a href="/employees" class="btn btn-secondary btn-sm"><i class="fas fa-arrow-circle-left fa-lg"></i> Back</a>
  </form>
</div>